button {
    text-align: center;
    margin: 2px;
}

div {
    text-align: center;
    margin: 2px;
}

.buttons{
    text-align: center;
}

.Text1 {
    text-align: center;
    margin: 2px;
}

h1 {
    text-align: center;
    margin: 2px;
}